extends layout

block content
  h1= title
  #container.inhalt
    p Viel Spass bei #{title}
    p #{title} ist eine App die mit Hilfe des Raspberry pi ein Video macht und dies in ein GIF umwandelt. Dies kann der User dann auf sein Smartphone transferieren
    a(class='button', href='/start') Let's go
    
