extends layout

block content
  h1= title
  #container.inhalt
    p #{title} ist eine App die mit Hilfe des Raspberry pi ein Video macht und dies in ein GIF umwandelt.
    p Dies kann der User dann auf sein Smartphone transferieren
    img(src='/images/animated.gif')

  a(class='nextbutton', href='/start') Let's go
