extends layout

block content
  h1= title
  #container.inhalt
    p Welcome to the start page of #{title}
    p Platzhalter für ein Kamerabild

    img(src='/images/raspicam.jpg')


  a(class='kamerabutton', href='/foto') Bild aktualisieren

  a(class='nextbutton', href='/step1') Weiter
